# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/

# Dist
dist/
build/
*.egg-info/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Kubernetes artefacts (do aluno, nunca commitados)
*.kubeconfig
kubeconfig-*
*.key
*.crt
*.csr
ca.crt
admin.conf

# Evidências pessoais do aluno
#docs/EVIDENCIAS.md
#evidencias/

# Helm
helm/*/charts/
helm/*/Chart.lock
*.tgz

# Locust output
locust/reports/

cosign.key
cosign-tipsbank.key

# Backups gerados automaticamente
docs/EVIDENCIAS-bkp-*.md

# Segredos reais — NÃO commitar
aws/cert-manager/secret-token-cloudflare.yaml
k8s/cert-manager/secret-token-cloudflare.yaml

# Binários grandes do AWS CLI / eksctl
aws/awscliv2.zip
aws/eksctl_Linux_amd64.tar.gz
aws/aws/dist/

# Diretório interno do Claude Code
.claude/
